.btn-mobile {
    display: inline-block;
}

.btn-no-mobile {
    display:none;
}

@media (min-width: 576px) {
    .btn-mobile {
        display: none;
    }

    .btn-no-mobile {
        display: inline-block;
    }
}


@media (min-width: 768px) {

}


@media (min-width: 992px) {
    
}

@media (min-width: 1200px) {
    
}